#!/usr/bin/env ruby

compile '/**/*.{md,markdown}' do
  filter :redcarpet, renderer: ::Redcarpet::Render::Language,
                     options: { fenced_code_blocks: true }
  filter :colorize_syntax, :default_colorizer => :rouge
  layout '/post.*'
end

compile '/**/*.{js,txt}' do
  # don’t filter
end

compile '/**/*.haml' do
  filter :haml
  layout '/default.*'
end

compile '/**/*.xml' do
  filter :erb
end

compile '/**/*.css' do
  filter :rainpress
end

compile '/**/*' do
  if ! item.binary?
    filter :erb
    layout '/default.*'
  end
end

route '/_posts/*' do
  y, m, d, slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-(.+)\./.match(item.identifier.to_s).captures

  "/blog/#{y}/#{m}/#{d}/#{slug}/index.html"
end

route '/**/*.{html,md,haml}' do
  if item.identifier =~ '**/index.*'
    item.identifier.without_ext + '.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

route '/**/*' do
  item.identifier.to_s
end

layout '/**/*', :haml, filter: :html5, ugly: true
