#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/stylesheets/_*' do
  nil
end

compile "/stylesheets/*/" do
  filter :sass,
         { :style => :compressed, :syntax => item[:extension].to_sym }
end

compile '/CNAME' do
  nil
end

compile 'gkarekinian-publickey' do
  nil
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  elsif %w(md markdown mdown).include? item[:extension]
    filter :erb
    filter :kramdown
  elsif item[:extension] == 'haml'
    filter :haml, :ugly => true, :format => :html5
  end
  layout item[:layout] ? item[:layout] : 'default'
end

# Ignore includes
route '/stylesheets/_*' do
  nil
end

route '/stylesheets/*' do
  "#{item.identifier.chop}.css"
end

# Used for GitHub Pages
route '/CNAME' do
  '/CNAME'
end

# GPG key
route '/gkarekinian-publickey' do
  '/gkarekinian-publickey.asc'
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :haml, :ugly => true, :format => :html5
