---
title: Home
---

%section
  :markdown
    # Hi, I'm Greg.

    * I'm a software and infrastructure developer.
    * I post things [on a blog](http://blog.karekinian.com).
    * I'm _gkarekinian_ [on Twitter](https://twitter.com/gkarekinian),
      [on GitHub](https://github.com/gkarekinian) &
      [on App.net](https://alpha.app.net/gkarekinian).

%section
  :markdown
    # I cofounded Green Alto.
    * We build infastructures. We have a [website](http://greenalto.com).
    * We're _greenalto_ [on Twitter](http://twitter.com/greenalto),
      [on GitHub](http://github.com/greenalto) &
      [on App.net](https://alpha.app.net/greenalto).
