---
title: Welcome
---

%section.post-content
  %section
    :markdown
      ## Hi, I'm Greg.

      * I'm a software & infrastructure developer. My favorite language is
      Ruby.
      * I like Free Software. I'm the new maintainer of
      [knife-inspect](https://rubygems.org/gems/knife-inspect), a plugin to
      compare your Chef repo and server.
      * I post things [on a blog](/blog)
      * I am a partner at [5apps](https://5apps.com). It's a deployment &
      hosting platform for client-side web apps. I'm responsible for the server
      infrastructure there.
      * I'm _gregkare_ [on Twitter](https://twitter.com/gregkare), [on
      GitHub](https://github.com/gregkare), Freenode, etc.

  %section
    :markdown
      ## Email

      * greg [ AT ] karekinian [ DOT ] com (personal)
      * greg [ AT ] 5apps [ DOT ] com (5apps)

      ### PGP fingerprint (new key created on 2013-09-11):

      <small>4C17 4C66 D094 9B90 6724 C82F 70FA 5AC4 7E7A AA97</small>

      [PGP key](/gkarekinian-publickey.asc), I am also on
      [keybase](https://keybase.io/gregkare)

      ## Instant Messaging: XMPP (Jabber)

      * greg [ AT ] karekinian [ DOT ] com (personal)

      ### OTR fingerprint:

      <small>4BDB413F AEE02317 A0A661FE 9615B724 9A31AEC2</small>
