---
title: Home
---

%section
  :markdown
    # Hi, I'm Greg.

    * I'm a software & infrastructure developer.
    * I post things [on a blog](http://blog.karekinian.com).
    * I'm _gkarekinian_ [on Twitter](https://twitter.com/gkarekinian),
      [on GitHub](https://github.com/gkarekinian),
      [on App.net](https://alpha.app.net/gkarekinian), Freenode, etc.

%section
  :markdown
    # I cofounded Green Alto.

    * We build infastructures. We have a [website](http://greenalto.com).
    * We're _greenalto_ [on Twitter](http://twitter.com/greenalto),
      [on GitHub](http://github.com/greenalto) &
      [on App.net](https://alpha.app.net/greenalto).

%section
  :markdown
    # Email

    * greg [ AT ] karekinian [ DOT ] com (personal)
    * greg [ AT ] greenalto [ DOT ] com (work)

    ### PGP fingerprint:

    <small>
        1D6C A525 4BBA 8BB1 9578 E39D 5C0F EC8C C5B3 F93B
    </small>

    ## [PGP key](/gkarekinian-publickey.asc)

    # Instant Messaging: XMPP (Jabber)

    * greg [ AT ] karekinian [ DOT ] com (personal)

    ### OTR fingerprint:

    <small>4BDB413F AEE02317 A0A661FE 9615B724 9A31AEC2</small>

