%head
  %meta{charset: "utf-8"}
  %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %title= [item[:title], config[:title]].join(' - ')
  %meta{name: "generator", content: "Nanoc #{Nanoc::VERSION}"}
  %meta{content: "width=device-width", name: "viewport"}
  %link{href: "#{url_for(item)}", rel: "canonical"}
  %link{href: "#{@items['/css/main.css'].path}", rel: "stylesheet"}
