!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Greg Karékinian
    %meta{content: "Greg Karékinian", name: "author"}/
    %link{href: "/stylesheets/screen.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %meta{content: "nanoc #{Nanoc::VERSION}", name: "generator"}/
  %body
    .content
      .header
        .avatar
          %img{alt: "Greg Karékinian",
               src: "http://www.gravatar.com/avatar/49258d2fddd2435e7818d05f4b88639b.png?s=200"}/

      .main= yield
